#table-example-1 { 
    border: solid thin; 
    border-collapse: collapse; 
  }

  #table-example-1 th, 
  #table-example-1 td { 
    border: solid thin;
    padding: 0.5rem 2rem;
  }
  #table-example-1 td {
    white-space: normal;
  }

  #table-example-1 td { 
    border-style: none solid; 
    vertical-align: top; 
  }
  #table-example-1 th { 
    padding: 0.2em; 
    vertical-align: middle; 
    text-align: center; 
  }
  
  p {
    font: 14px/1.5 "Times New Roman", times, serif;
    padding: 30px 10px;
    border: 1px black solid;
    border-width: 1px 5px 5px 10px;
    border-color: red green blue rgb(255, 0, 212);
    margin: 10px 50px;
}


  p:nth-child(odd) {
    font-weight: bold;
    background-color: #090;

  }

  p:nth-child(even) {
    font-weight: bold;
    background-color: rgb(141, 212, 141);

  }

  body {
    padding: 1rem;
    background: white 
    url(http://www.htmldog.com/images/bg.gif) no-repeat top right;

  }

  a {
    display: block;
    background-color: rgb(141, 212, 141);
    padding: 0px 30px 0px 30px;
    margin: 10px 50px;
}

p {
  font-size: 12px;
}

p:first-letter {
  font-size: 24px;
  float: left;
}

p:first-line {
  font-weight: bold;
}

a:before {
  content: "POW! ";
  background: red;
  color: #fc0;
}

p::before {
  content: "csstst";
}
